# Data mining aplicado ao estudo de surtos de Legionella

*"An outbreak is defined as two or more cases where the onset of illness is closely linked in time (weeks rather than months) and in space, where there is suspicion of, or evidence of, a common source of infection, with or without microbiological support (i.e. common spatial location of cases from travel history). An outbreak control team should always be convened to investigate outbreaks. "*

In [34]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

Começa-se por ler a base de dados criada a partir da bibliografia existente. Para tal, usa-se a biblioteca **pandas** <font color='red'>[].</font>. 

Uma versão resumida dos dados encontra-se presente na tabela, abaixo. Como se pode verificar, as variáveis em estudo são o **ano** de ocorrência, assim como a **estação de ano** em que ocorreram (Primavera/Verão ou Outono/Inverno) e a **duração** do surto, a **cidade e país**, o **número de casos e fatalidades**, a **idade média** dos pacientes, a **estirpe**, a **causa** e, finalmente, se a **existência de biofilmes** foi considerada como causa. 

Para além disso, a **fonte** de onde se retiraram estas informações também se encontra presente, mas, como não é relevante para esta análise, já que só estamos a analisar dados que têm documentação fiável associada, vamos eliminar esta coluna.

In [35]:
# Leitura do dataset
raw_data = pd.read_excel('ArticlesStudy.xlsx')
raw_data.head()

,Year,City,Country,Place,Season,Duration (weeks),Cases,Deaths,Mean Age,Strain,Cause,Treatment,Considers Biofilms,Source
0,1985,Stafford,England,Hospital,Spring/Summer,NaN,68,22.0,62,"LP1, subgroup Pontiac 1a",Cooling Tower,NaN,No,"O'mahony, M. C., et al. ""The Stafford outbreak..."
1,2006,New York,USA,Community,Spring/Summer,21.0,29,1.0,57,NaN,NaN,NaN,No,"Fitzhenry, Robert, et al. ""Legionnaires’ Disea..."
2,2008,New York,USA,Community,Spring/Summer,4.0,7,0.0,64,NaN,NaN,NaN,NaN,"Fitzhenry, Robert, et al. ""Legionnaires’ Disea..."
3,2011,Calpe,Spain,Hotel,Autumn/Winter,39.0,44,6.0,> 65,LP1,Water System,NaN,Yes,"Sánchez-Busó, Leonor, et al. ""Genomic investig..."
4,2012,Calgary,Canada,Community,Autumn/Winter,3.0,8,0.0,65,LP1,Cooling Tower,NaN,No,"Knox, N. C., et al. ""Unusual Legionnaires' out..."

In [37]:
# Retirar a coluna Source
raw_data = raw_data.drop('Source', 1)
raw_data.head()

,Year,City,Country,Place,Season,Duration (weeks),Cases,Deaths,Mean Age,Strain,Cause,Treatment,Considers Biofilms
0,1985,Stafford,England,Hospital,Spring/Summer,NaN,68,22.0,62,"LP1, subgroup Pontiac 1a",Cooling Tower,NaN,No
1,2006,New York,USA,Community,Spring/Summer,21.0,29,1.0,57,NaN,NaN,NaN,No
2,2008,New York,USA,Community,Spring/Summer,4.0,7,0.0,64,NaN,NaN,NaN,NaN
3,2011,Calpe,Spain,Hotel,Autumn/Winter,39.0,44,6.0,> 65,LP1,Water System,NaN,Yes
4,2012,Calgary,Canada,Community,Autumn/Winter,3.0,8,0.0,65,LP1,Cooling Tower,NaN,No

In [42]:
# Imprimir o número de casos em estudo
print('Dimensão dos dados: ', raw_data.shape[0])

Dimensão dos dados:  14

In [38]:
# Group cases by season
raw_data.groupby('Season').size()

Season
Autumn/Winter    5
Spring/Summer    9
dtype: int64

In [19]:
# Group cases by cause
raw_data.groupby('Cause').size()

Cause
Cooling Tower    7
Water System     2
dtype: int64

# References

[] - http://pandas.pydata.org/